.RData
.RHistory
cache/
data/
denver-crime-map/data/
denver-bike-theft-map/data/
ggmapTemp.png
.Rproj.user
*.Rproj
rsconnect

# in this repo, not storing the rendered markdown
# instead, README.md links to the two sub-projects
crime.html
crime.md

# to create and deploy this one on github, use 'make deploy_ghpages'
gh-pages/

